html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #EFF1F4;
}

.custom1 {
    background-color: #0059A1;
}

.custom2 {
    background-color: #373737;
}

.crop {
    width: 100%;
    height: 82px;
    overflow: hidden;
}
